* {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #0e0e10;
}

#container {
  display: flex;
  height: 100vh;
  width: 100vw;

  .twitchChannelNav {
    height: 100vh;
    width: 25vw;  
  }
  #containerChat {
    height: 100vh;
    width: 75vw;
    overflow-y: auto;
    max-height: 100vh;
    
    #chat {
     padding: 2.5%;
    }
  }
 
}


.twitchChannelNav {

  .en-tête {
    width: 100%;
    height: 10%;
  }
}

